Package: com.leftyfl1p.empyreal
Name: Empyreal
Depends: mobilesubstrate, applist
Version: 1.3
Architecture: iphoneos-arm
Description: Custom Suggested Apps
Maintainer: leftyfl1p <leftyfl1p@icloud.com>
Author: leftyfl1p <leftyfl1p@icloud.com>
Section: Tweaks
