<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leftyfl1p.empyreal</string>
			<key>PostNotification</key>
			<string>com.leftyfl1p.empyreal/settingschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.leftyfl1p.empyreal</string>
			<key>PostNotification</key>
			<string>com.leftyfl1p.empyreal/settingschanged</string>
			<key>key</key>
			<string>override</string>
			<key>label</key>
			<string>Override Apple's Suggestions</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leftyfl1p.empyreal</string>
			<key>PostNotification</key>
			<string>com.leftyfl1p.empyreal/settingschanged</string>
			<key>key</key>
			<string>showInLS</string>
			<key>label</key>
			<string>Show in Lock Screen</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.leftyfl1p.empyreal</string>
			<key>PostNotification</key>
			<string>com.leftyfl1p.empyreal/settingschanged</string>
			<key>key</key>
			<string>showInMultitasking</string>
			<key>label</key>
			<string>Show in Multitasking</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>autoCaps</key>
			<string>sentences</string>
			<key>placeholder</key>
			<string>Empyreal</string>
			<key>bestGuess</key>
			<string>Empyreal</string>
			<key>PostNotification</key>
			<string>com.leftyfl1p.empyreal/settingschanged</string>
			<key>key</key>
			<string>suggestionName</string>
			<key>label</key>
			<string>Suggestion Name:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Select Application</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSingleEnabledMode</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.leftyfl1p.empyreal/settingschanged</string>
			<key>ALSettingsDefaultValue</key>
			<string>com.Saurik.cydia</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.leftyfl1p.empyreal.plist</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@leftyfl1p on Twitter</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
		
	</array>
	<key>title</key>
	<string>Empyreal</string>
</dict>
</plist>